body,html{
    margin: 0;
    padding: 0;}
.boxes{
    height: 200px;
    width: 1230px;
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns for large screens */
    gap: 20px;
}
.box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    margin: auto;
    margin-left: 30px;
    width: 400px;
    height: 100%;
    background-color: white}
img{
    font-size: xx-large;
    align-items: center;
    margin-top: 20px;
    margin-left: 130px ;}
h1{
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;}
p{
    text-align: center;}
.price{
    text-align: center;
    font-size: large;
    font-weight: bold;}
@media (max-width: 1024px) {
 .boxes {
 grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */} }
 @media (max-width: 600px) {
 .boxes {
 grid-template-columns: 1fr; /* 1 column for mobile */}}
