*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header{
    display: flex;
    align-items: center;
    height: 15% ;
    width: 100%;
    position: fixed;
    background-color: white;
    justify-content: space-around;
}
#logo{
    height: 70%;
    
}
#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text{
    font-weight: bold;
    color: rgb(20, 20, 112);
}
.text:hover{
    color: rgb(82, 145, 240);
}
#contactDetails{
    margin: 30px;
    text-align: center;
    color: rgb(20, 20, 112);
}
.icon{
   
   padding: 10px;
   border-radius: 50%;
}
.icon:hover{
    background-color: lightblue;
    
}
#fakeHeader{
    height: 15% ;
    width: 100%;
    background-color: white;
}
#try{
    padding: 10px 20px;
    color: white;
    background-color: green;
    
}
#try:hover{
    background-color: darkgreen;
}
#page1{
    height: 85%;
    width: 100%; 
    
}
#strip{
    background-color: darkblue;
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#strip u{
    margin-left: 20px;
    font-weight: lighter;
}

#content{
    width: 100%;
    height: 76%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

#heading{
    width: 100%;
    height: 16%;
    background-color: white;
    color: rgb(20, 20, 112);
    display: flex;
    align-items: center;
    justify-content: center;
}

#heading h1{
    font-weight: 600;
}

#box1{
    color: rgb(20, 20, 112);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 90%;
    width: 47%;
    background-color: white;
   
}

#box2{
    height: 90%;
    width: 47%;
      
}
#page2{
    height: 87%;
    width: 100%;
    background-color:white;
}
#login{
    display: flex;
    padding: 10px;
    border-radius: 50px ;
}
#login:hover{
     background-color: lightblue;
}
#box1 h1{
    font-weight: 600;
    color: rgb(20, 20, 112);
    font-size: 50px;
    margin: 10px
}
#box1 p{
    font-weight: lighter;
    color: rgb(20, 20, 112);
    font-size: x-large;
    margin: 10px;
}
#btns{
    display: flex;
    margin: 10px;
    margin-top: 50px;
}
#btn1{
    text-align: center;
    width: 23%;  
    padding: 10px 20px;
    background-color: rgb(81, 180, 212);
    border-radius: 5px;
    color: white ;
}
#btn1:hover{
    background-color: rgb(38, 96, 116);;
}
#btn2{
    width: 23%;
    padding: 10px 20px;
    text-align: center;
   border-radius: 5px;
    color: rgb(81, 180, 212);;
    background-color: white;
    border: 1px solid  rgb(81, 180, 212);    ;
}
#btn2:hover{
    border: 1px solid  rgb(20, 20, 112);
    color: rgb(20, 20, 112);
    background-color: lightblue;
}
#block{
    display: flex;
    margin: 40px;
    height: 80%;
    width: 80%;
    border: 1px solid rgb(149, 195, 211);
    border-radius: 5px;
    background-color: rgb(149, 195, 211);
}
.cards{
    display: flex;
}
#card1{
    margin: 40px;
    padding: 20px;
    width: 440px;
    height: 350px;
    background-color: rgb(253, 252, 249) ;
    border-radius: 20px;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.4)
    
}
#card2{
    margin: 40px;
    padding: 20px;
    width: 440px;
    height: 350px;
    background-color: rgb(253, 252, 249) ;
    border-radius: 20px;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.4)
}
#card3{
    margin: 40px;
    padding: 20px;
    width: 440px;
    height: 350px;
    background-color: rgb(253, 252, 249) ;
    border-radius: 20px;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.4)
}
#card4{
    margin: 40px;
    padding: 20px;
    width: 440px;
    height: 350px;
     background-color: rgb(253, 252, 249) ;
    border-radius: 20px;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.4)
}
#imageBox{
    margin: 18px;
    height: 160px;
    width: 170px;
    background-color: white ;
    border-radius: 50%;
}
img{
    width: 100%;
    height: 100%;
    
}
