body{
    /* background-color: wheat; */
    margin: 0px;
    padding: 0px;
    /* background-image:url('abes1.png'); */
    /* background-image: url('rm218-bb-07.jpg'); */
    background-image: url('1003880.png');
    background-position: top-left;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
    background-color: transparent;
    text-shadow: 1px 1px 10px #fff;
    /* clear: both; */
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-wrap: initial;
    text-transform: capitalize;
    font-style: oblique;
}
#para{
    margin-top: 20px;
    /* display: inline; */
    /* display: inline-block; */
    
}
img{
    width: 100px;
    height: 100px;
    float: left;
}