*{  margin: 0%;
    padding: 0%;
    box-sizing: border-box;}
html,body{
    height: 100%;
    width: 100%;}
#main{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
#header{
    display: flex;
    align-items: center;
    height: 15% ;
    width: 100%;
    position: fixed;
    background-color: #131921;
    justify-content: space-around;}
#logo{
    height: 70%;
    margin-left: 10px;
margin-right: 120px;}
#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;}
.text{
    font-weight: bold;
    color: white}
.text:hover{
    border: 1px solid white;}
#contactDetails{
    margin: 30px;
    text-align: center;
    color: white}
.icon{
   padding: 10px;
   border-radius: 50%;}
.icon:hover{
    background-color: lightblue;}
#fakeHeader{
    height: 15% ;
    width: 100%;
    background-color: white;}
#try{
    padding: 10px 20px;
    color: white;}
#try:hover{
   background-color: #131921;
   border: 1px solid white;}
#strip{
    border: 1px solid white;
    background-color: #131921;
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;}
#strip u{
    margin-left: 20px;
    font-weight: lighter;}

.hamburger {
display: none;
font-size: 2rem;
cursor: pointer;
}

#menu-toggle {
display: none;
}
@media (max-width: 768px) {
.text {
display: none;
position: absolute;
top: 60px;
left: 0;
right: 0;
flex-direction: column;
background-color: #333;
padding: 10px 0;
}
.text li {
margin: 10px 0;
text-align: center;
}
.hamburger {
display: block;
}

#menu-toggle:checked + .hamburger + .text {
display: flex;
}
}
