*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;}   
    #main{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.navbar {
 display: flex;
    align-items: center;
    height: 15% ;
    width: 100%;
    position: fixed;
    background-color: #131921;
    justify-content: space-around;}
.logo {
     height: 70%;
    margin-left: 10px;
margin-right: 10px;}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;}
.nav-links {
display: flex;
list-style: none;}
.nav-links li {
margin: 0 15px;}
.nav-links a {
text-decoration: none;
color: white;
font-size: 1rem;}
.actions a {
margin-left: 15px;
color: white;
text-decoration: none;
font-weight: bold;}
.hamburger {
display: none;
font-size: 2rem;
cursor: pointer;}
#menu-toggle {
display: none;}
@media (max-width: 768px) {
    .logo{
        height: 70%;
    margin-left: 10px;
margin-right: 10px;}
    .logo img{
        height: 100%;
    width: 100%;
    object-fit: cover; }
.nav-links {
display: none;
position: absolute;
top: 60px;
left: 0;
right: 0;
flex-direction: column;
background-color: #333;
padding: 15px 0;}
.nav-links li {
margin: 10px 0;
text-align: center; }
.hamburger {
display: block;
margin-top: 20px;}
#menu-toggle:checked + .hamburger + .nav-links {
display: flex;}
}